.qwizzer{
  text-align: center;
  left:0;
  position: absolute;
  height:10em;
  width:100%;
  color:#fff;
  background-color: #000;
  opacity:.9;
}

.qwizzer h5{
  font-size: 20px;line-height: .5em;
}
.qwizzer label{
  font-size:14px;
}